.card {
  position: relative;
	margin: 5em auto;
  padding: 0;
  font-size: 1em;
  text-align: center;
	width: 100%;
  max-width: 40em;
	height: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  background-color: white;
}

.info_container {
  padding: 2em 1em 4em 1em;
  max-width: 30em;
  margin: 0 auto;
}

.bouquet1 {
  width: 20em;
  position: absolute;
  top: -10em;
  left: -5em;
  transform: rotate(20deg) scaleX(-1);
}

.bouquet2 {
  width: 15em;
  position: absolute;
  bottom: -5em;
  right: -7em;
  transform: rotate(20deg);
}

.invitation {
  position: relative;
  font-size: 3em;
}

.dear_all {
  position: relative;
  font-size: 1.5em;
}

.announce {
  position: relative;
  font-size: 1em;
}

.the_date {
  position: relative;
  font-size: 1.5em;
  font-weight: 400;
}

.eternal {
  position: relative;
  font-size: 1em;
}

.happening {
  position: relative;
  font-size: 1em;
  padding: 1em 0;
}

.happening_time {
  font-size: 1.2em;
}


.line {
  margin: 2em auto 0 auto;
  padding: .3em 0;
  width: 10em;
  height: 0;
  border-top: 1px solid black;
}

.come {
  position: relative;
  font-size: 2em;
  padding: 1em 0;
}

.gift {
  position: relative;
  font-size: 1em;
  font-style: italic !important;
}
