html,
body {
  overflow-x: hidden;
}

body {
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 120em;
  backdrop-filter: blur(10px);
  overflow: hidden;
}